<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <%= t "email.header" %>
    </h1>
    <h2>
      <%= @book.title %>
    </h2>
    <p><%= t "email.thank" %></p>
  </body>
</html>
